html
  head
    title #{title}
    style
      include https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css

  body
    div
      table(class=table)
        thead
          tr: th Commands
        tbody
          each cmd in commands
            tr
              td
                p= cmd
